<footer class='footer'>
    <div class="waves"></div>
    <div class='socialspace'>
        <a href="https://www.instagram.com" style="text-decoration: none;"><div class="social-container">
            <span><img class="image-social" src="../assets/Bitcoin_perspective_matte.png"></img></span>
            <div class='tooltip textdesign'>Donate</div>
        </div>
            </a>
        <a href="https://www.instagram.com" style="text-decoration: none;"><div class="social-container">
            <span><img class="image-social" src="../assets/Instagram_perspective_matte.png"></img></span>
            <div class='tooltip textdesign'>Instagram</div>
        </div>
        </a>
        <a href="https://www.instagram.com" style="text-decoration: none;"><div class="social-container">
            <span><img class="image-social" src="../assets/Twitter_perspective_matte.png"></img></span>
            <div class='tooltip textdesign'>Twitter</div>
        </div>
        </a>
        <a href="https://www.instagram.com" style="text-decoration: none;"><div class="social-container">
            <span><img class="image-social" src="../assets/Linkedin_perspective_matte.png"></img></span>
            <div class='tooltip textdesign'>Github</div>
        </div>
        </a>
    </div>
    <ul class='row-footer'>
        <li><a href='/impressum'>Impressum</a></li>
        <li><a href='/aboutus'>Unser Team</a></li>
        <li><a href='https://docs.google.com/forms/d/e/1FAIpQLSdNmLCfIEooC2WGr4ywwQ-vYYS3xLbA563VUVFU2FtUjliUrA/viewform?usp=sf_link'>Feedback</a></li>
    </ul>
    <div class='footerendpadding blacksmalltext'>© 2022- <%= new Date().getFullYear();%> CypherNexus</div>
</footer>