 <!DOCTYPE html>
<html lang="de">

<head>
	<title>CypherNexus</title>
	<link rel='stylesheet' type='text/css' href='../css/webpagestyle.css'>
	<link rel='stylesheet' type='text/css' href='../css/webpagestyle_responsive.css'>
	<link rel='stylesheet' type='text/css' href='../css/style.css'>
	<link rel='stylesheet' type='text/css' href='../css/style_responsive.css'>
	<meta charset='UTF-8'>
	<meta name="description" content="Loginform, Registerform, Registrierungsformular, Loginformular">
	<meta name="keywords" content="Login, Register, Registrieren, Anmelden, Anmeldung">
	<meta name='viewport' content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Luca Kaiser, Tobias Welt, Thomas Enzo Schmitz">
	<link rel="faBvicon" type="image/x-icon" href="favicon.ico">
	<link rel="icon" type="image/svg" href="../assets/logo.svg">
</head>

<%- include('./header.ejs', {active: "Home"}); %>

<body>
	<main class="padding-horizontal2">
		<div class='divide two-sides-6-4'>
			<section class='container padding-horizontal align-left' id="welcometext">
				<h1 class='greenheader'>
					<span id="wtrlvl">WTRLVL!</span>
				</h1>
				<h1 class='whiteheader'>
					Bequem von online und unterwegs jederzeit erreichbar!
				</h1>
				<p class='whitetext padding-vertical' id="welcometextsmall">
					Wir sind ein aufstrebendes Wasserstands-Startup mit dem Ziel Wasserstandsdaten
					leicht erreichbar für jeden zu machen!
				</p>
				<button class='btn btn-lightgreen' onclick="window.location.href = '/register';">premiummember werden</button>
			</section>
			<img src="./assets/Water_perspective_matte.png" alt="WaterDrop" class='image' id="rocket">
		</div>

		<div class='divide align-center-flex'>
			<img src='./assets/OnlineVisualisierungGanglinieImage.png' alt='' class='image padding-horizontal3'>
			<br>
			<section class='padding-horizontal3'>
				<div class="container-dropdown">
					<button class="btn btn-green click">Wasserstellen</button>
					<div class="list">
						<button class="links">Wasserstelle 1</button>
						<button class="links">Wasserstelle 2</button>
						<button class="links">Wasserstelle 3</button>
						<button class="links">Wasserstelle 4</button>
						<button class="links">Wasserstelle 5</button>
					</div>
				</div>
				<script>
					let click = document.querySelector('.click');
					let list = document.querySelector('.list');
					click.addEventListener("click",()=>{
						list.classList.toggle('newlist');
		
					});
				</script>
			</section>
		</div>
	</main>
	<%- include('footer.ejs') %>
	<script src="../js/javascript.js" charset="utf-8"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src='https://kit.fontawesome.com/5a49021eb8.js' crossorigin="anonymous"></script>
</body>
</html>
